<div class="container">
    <form name="ctrl.groceryform" class="form-horizontal form-editGrocery">
        
        <div class="form-group">
            <label class="control-label col-sm-2" for="brandName">Brand Name </label>
            <div class="col-sm-6">
                <input type="text" ng-model="ctrl.grocery_list.brand" class="form-control" id="brandName" name="brandName" placeholder="Brand Name.." required>
                <div class="validation" data-ng-show="ctrl.groceryform.brandName.$touched || ctrl.groceryform.$submitted">
                    <div data-ng-show="ctrl.groceryform.brandName.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> Brand Name is required
                    </div>
                </div>
            </div>    
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="productName">Product Name </label>
            <div class="col-sm-6">
                <input type="text" ng-model="ctrl.grocery_list.name" class="form-control" id="productName" name="productName" placeholder="Product Name.." required>
                <div class="validation" data-ng-show="ctrl.groceryform.productName.$touched || ctrl.groceryform.$submitted">
                    <div data-ng-show="ctrl.groceryform.productName.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> Product Name is required
                    </div>
                </div>
            </div>    
        </div>



        <div class="form-group">
            <div class="col-md-6 col-md-offset-3">
                <button type="submit" class="btn btn-primary" ng-disabled="ctrl.groceryform.$invalid" ng-click="ctrl.saveGrocery()">Save</button>
            </div>
            <h4></h4>
            <div class="col-md-6 col-md-offset-3">
                <button type="reset" class="btn btn-primary" ng-disabled="ctrl.groceryform.$invalid" value="reset">Cancel</button>
            </div>

        </div>
    
    </form>
</div>