
    <body ng-cloak ng-controller="GroceryController as ctrl">
        <div class="container">
            <div><h2>Grocery Management System<span my-current-time="ctrl.format"></span></h2>
            </div>
            <div class="jumbotron">
                    <form name="ctrl.searchForm" ng-submit="ctrl.searchGrocery_list()">
                        <div class="keyword col-lg-6">
                            <input type="text" name="keyword" id="keyword" class="form-control" ng-model="ctrl.searchKeyword" placeholder="e.g. Rice"/>
                        </div>
                        <div class="keyword col-lg-6">
                            <select ng-model="ctrl.orderby" class= "form-control">
                                <option value = "" disabled selected>Sort by</option>
                                <option value = "ASC">Ascending</option>
                                <option value = "DESC">Descending</option>
                            </select>
                        </div>
                        <br>
                        <hr/>
                        <div class="col-lg-6">
                            <button type="submit" class="btn btn-primary">Search</button>
                        </div>
                    </form>
            </div>
            <div class="list" ng-show="ctrl.grocery_list">
                <div class="row" ng-show="ctrl.grocery_list.length>0" >
                    <div class="list header col-lo-12 col-mg-12 col-sm-12">
                        <ul uib-pagination total-items="ctrl.totalItems" ng-model="ctrl.currentPage" max-size="ctrl.maxsize"  items-per-page="ctrl.itemsPerPage" class="pagination-sm" boundary-link-numbers="true" rotate="false" ng-change="ctrl.pageChanged()" ></ul>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-lg-3" ng-repeat="grocery in ctrl.grocery_list">
                        <h4><label>UPC 12 : </label> {{grocery_list.upc12}}</h4>
                        <h4><label>Brand Name: </label> {{grocery_list.brand}}</h4>
                        <h4><label>Product Name: </label> {{grocery_list.name}}</h4>
                        <h4>
                            <button type="button" ng-click="ctrl.editGrocery(grocery_list.id, 'lg')" class="btn btn-success"><i class="icon-edit" aria-hidden="true"></i></button>

                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </body>











